<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Graphique des températures</title>
<link rel="stylesheet" href="style.css">
<script src="https://cdn.jsdelivr.net/npm/chart.js@4"></script>
<script src="https://cdn.jsdelivr.net/npm/moment@2"></script>
<script src="https://cdn.jsdelivr.net/npm/moment@2/locale/fr.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-moment@1"></script>
<script src="chart.js"></script>
<script src="script.js"></script>
</head>
<body class="chart">
<h1>Graphique des températures</h1>
<form action="javascript:;">
    <label for="year">Année :</label>
    <input type="number" id="year" name="year" min="2000">
</form>
<div class="loader"></div>
<div id="temperatures-chart"></div>
<div id="monthly-temperatures-chart"></div>
<div id="weathers-chart"></div>
<div id="cat">
    Série maximale du chat : <span id="cat-streak"></span>
    <br>
    Jours manquants : <input type="number" id="cat-missing" value="0" min="0" step="1">
    <br>
    Autres séries :
    <div id="cat-streaks"></div>
    Graphique :
    <div id="cat-chart"></div>
</div>
<div id="global-data"></div>
</body>
</html>