* {
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
body, input, select, textarea {
    font-family: Montserrat, Arial, Helvetica, sans-serif;
}
body > * {
    margin: 1rem 0;
}
body > :first-child {
    margin-top: 0;
}
body > :last-child {
    margin-bottom: 0;
}

table {
    border-collapse: collapse;
    width: 100%;
}
th, td {
    border: 1px solid black;
    padding: 0.25em 0.5em;
    text-align: center;
}
tr:nth-child(even) {
    background-color: #f2f2f2;
}
/* Loader */
.loader {
    text-align: center;
}
.loader.loading::before {
    content: "Chargement...";
}
.loading::after {
    content: "";
    display: inline-block;
    width: 1em;
    height: 1em;
    vertical-align: middle;
    margin-left: 0.5em;
    border: 0.2em solid #ccc;
    border-top-color: transparent;
    border-radius: 50%;
    animation: spin 1s cubic-bezier(0.4, 0, 0.2, 1) infinite;
}
@keyframes spin {
    100% {
        transform: rotate(360deg);
    }
}
td img {
    height: 1.5em;
    vertical-align: middle;
    padding: 0 0.5em;
}

#temperatures-chart, #monthly-temperatures-chart {
    height: 80vh;
    text-align: center;
}
#weathers-chart {
    height: 50vh;
    text-align: center;
}
#cat-streaks {
    white-space: pre-wrap;
    max-height: 300px;
    overflow-y: auto;
    border: 1px solid black;
}
#cat-chart {
    display: grid;
    grid-auto-flow: column;
    grid-template-rows: repeat(7, auto);
    justify-content: left;
    gap: 0.1em;
}
#cat-chart .cell {
    width: 1em;
    height: 1em;
    border-radius: 0.1em;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.9em;
}
#cat-chart .cell.there {
    background-color: #025f02;
    color: white;
}
#cat-chart .cell.not-there {
    background-color: #b2eeb2;
}
#cat-chart .cell.unknown {
    border: 1px solid black;
}
#cat-chart .cell.unknown:empty::before {
    content: "×";
}

#global-data {
    white-space: pre-wrap;
}
